.buttons{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

#mapUTA{
    border-radius: 10px;
}

.toolbar{  
    --ion-toolbar-background: rgba(248, 80, 80, 0.774);    
}

.Title{
    color: white;    
}